DatosLogin.py
DatosTelegram.py
test.py
*.pyc
*.png
*.jpg
errorLog*.txt
*.log
bot_activity.*
*.pdf
Cheques_UENs.xlsx
quickstart.py
*.json
ClientesDeudores.xlsx
ClientesConMora.xlsx
ClientesConAtraso.xlsx
Incobrables.xlsx